@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');

:root{
    --box-shadow:0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --pink: #e5345b;
    --black: #000;
    --white: #fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gluten', cursive;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.2s linear;
}
/* html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
} */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    background: #fff;
    z-index: 1000;
}
header .logo{
    font-size: 35px;
    font-weight: bolder;
    color: var(--black);
    text-decoration: none;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin-left: 20px;
    padding: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
header nav ul li a:hover{
    color: var(--pink);
}
header .search a,
header .search i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: 6px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background: #eee;
    color: var(--black);
    font-size: 17px;
}

header .search i:hover,
header .search a:hover{
    background: var(--pink);
    transform: rotate(360deg);
}
header .search #bar{
    display: none;
}

.heading{
    top: 30%;
}
.heading p{
    font-size: 30px;
}
.heading h1{
    font-size: 120px;
}
.heading button{
    padding: 10px 20px;
    border-radius: 25px;
}
.heading button:hover{
    background: var(--pink);
}