@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');

:root{
    --box-shadow:0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --pink: #e5345b;
    --black: #000;
    --white: #fff;
}
.text-primary{
    color: var(--pink) !important;
}
.bg-primary{
    background: var(--pink) !important;
}

*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* text-decoration: none; */
    transition: all 0.2s linear;
    text-transform: capitalize;
    font-family: 'Gluten', cursive;
}
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 30px;
    height: 25px;
}
.navbar-brand{
    letter-spacing: 2px;
}
.nav-link.active,
.nav-link:hover{
    color: var(--pink) !important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}


/* style carousel section ==> */
/* #header{
    background: url(images/banner-img-3.jpg) top/cover no-repeat ;
} */

.btn:not(.nav-btn button){
    background: var(--white);
    color: rgb(85, 85, 85);
    padding: 10px 25px;
    border-radius: 20px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btn button):hover{
    background: var(--pink);
    color: var(--white);
    border-color: var(--pink);
}
.carousel-inner h1{
    font-size: 6rem;
}
/* .carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
} */
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
    -webkit-background-size: cover;
}
.carousel-caption{
    top: 35%;
}
.carousel-caption p{
    font-size: 2rem;
}

/* style collection area ===> */
/* .stand{
    position: absolute;
    display: inline-block;
    left: 43.5%;
    height: 2.3rem;
    width: .2rem;
    background: var(--pink);
} */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.active-filter-btn{
    background: var(--pink) !important;
    color: var(--white) !important;
    border-color: var(--pink) !important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* style special area  */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-img:hover img{
    transform: scale(1.2);
}

/* style offfer section  */
#offers{
    background: url(images/offer_img.jpg) center/cover no-repeat;
}
#offers .row{
    height: 60vh;
}
.offer-content span{
    font-size: 28px;
}
.offer-content h2{
    font-size: 4rem;
}
.offer-content .btn{
    border-color: transparent !important;
}

/* style about section  */
#about{
    background: rgba(0,0,0,0.05);
}


/* style newsletter section  */
#newsletter{
    background: rgba(179,179,179,0.5);
}
#newsletter p{
    max-width: 600px;
}

#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background: var(--pink);
    color: var(--white);
    border-color: var(--pink);
}
#newsletter .btn:hover{
    background: var(--black);
    border-color: var(--black);
}

/* style footer section  */
#footer a{
    transition: color 0.4s ease;
}
#footer a:hover{
    color: var(--pink) !important;
}


#credit{
    border-top: 0.1px solid rgba(248, 229, 229, 0.1);
}


















/* media queries  */
@media (min-width: 992px) {
    .nav-item{
        border-bottom: none;
    }
}
@media (max-width: 768px) {
    .carousel-inner h1{
        font-size: 2rem;
    }
}
